@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: linear-gradiet(300deg, #757b87, #59e4e4);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
main {
  width: 306px;
  height: 189px;
}
input {
  padding: 1rem;
  border-radius: 25px;
  border: none;
  background-color: #fff;
  font-family: inherit;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 100%;
  font-size: 1rem;
}
input:focus {
  outline: none;
}
input::placeholder {
  font-weight: bold;
  opacity: 0.2;
}
input:focus::placeholder {
  color: transparent;
}
.weather {
  text-align: center;
  font-size: 2rem;
}
.weather h2 {
  margin-top: 15px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}
